#aroundnus {
    display: flex;
    flex-direction: row;
    height: auto;

}

#aroundnus_info {
    min-height: 100%;
    /* border: 1px solid pink; */
    flex-basis: 50%; /* Adjust the width as needed */
    padding: 20px; /* Add padding to provide spacing */
    box-sizing: border-box; /* Include padding in the total width */
    
}

#aroundnus_images {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border: 1px solid purple;
    flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the top */

}

.aroundnus_image {
    background-repeat: no-repeat;
    flex: 0 0 calc(33.33% - 10px); /* Adjust the width as needed */
    /* background-size: cover; */
    border: 10px dotted black;
    width: calc(33.33% - 10px); /* Adjust the width as needed */
  margin-bottom: 20px; /* Adjust the margin as needed */
}

#aroundnus_img1 {
    background-image: url('img/around_nus_bus_stops.jpg');
}

#aroundnus_img2 {
    background-image: url('img/around_nus_bus_timings.jpg');

}
  
#aroundnus_img3 {
    background-image: url('img/around_nus_find_nearest.jpg');
}