
.images {
    position: relative;
    width: 50%;
    height: 135vh;
    z-index: 1;
    left: 43%;
}



#contech_images {
  height: 105vh;
}


.image {
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: top 0.3s ease-out;
}


.image1 {
    left: 0%;
    position: absolute; 
    margin-top: 16%;
    height: 65%;
    background-position: left;
    z-index: 4;
}

.image2 {
    left: 0%;
    position: absolute; 
    height: 50%;
    margin-top: 90%;
    z-index: 1;
}

.image3 {
    margin-top: 50%;
    height: 55%;
    right: 0%;
    position: absolute; 
    background-position: left;
    z-index: 3;
  }

.image4 {
    height: 45%;
    margin-top: 108%;
    right: 0%;
    position: absolute; 
    background-position: left;
    z-index: 2;
}


.cli_image1 {
  left: -12%;
  position: absolute; 
  margin-top: 16%;
  height: 69%;
  width: 75%;
  background-position: left;
  z-index: 3;
}

.cli_image2 {
  left: -13%;
  position: absolute; 
  height: 50%;
  width: 65%;
  margin-top: 65%;
  z-index: 1;
}

.cli_image3 {
  margin-top: 38%;
  height: 60%;
  width: 70%;
  right: -14%;
  position: absolute; 
  background-position: left;
  z-index: 4;

}

.cli_image4 {
  height: 45%;
  margin-top: 74%;
  width: 60%;
  right: -9%;
  position: absolute; 
  background-position: left;
  z-index: 2;

}

#aroundnus_img1 {
    background-image: url('img/aroundnus_directions_map_samsung.png');
}

#aroundnus_img2 {
    background-image: url('img/aroundnus_directions_samsung.png');
}   

#aroundnus_img3 {
    background-image: url('img/aroundnus_bus_timings_samsung.png');
}
  
#aroundnus_img4 {
    background-image: url('img/aroundnus_find_nearest_samsung.png');
}


#contech_img1 {
  background-image: url('img/search_contact.png');
}

#contech_img2 {
  background-image: url('img/edit_contact.png');

}   

#contech_img3 {
  background-image: url('img/add_contact.png');
}

#contech_img4 {
  background-image: url('img/view_contact.png');
}





#eatwhere_img1 {
  background-image: url('img/eatwhere_results_samsung.png');
}

#eatwhere_img2 {
  background-image: url('img/eatwhere_dietary_samsung.png');
}   

#eatwhere_img3 {
  background-image: url('img/eatwhere_filter_samsung.png');
}

#eatwhere_img4 {
  background-image: url('img/eatwhere_send_location_samsung.png');
}

