#skills {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;    
    overflow-x: hidden;
}

#skills_section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-template-rows: auto auto; /* Two rows with automatic height */
    justify-items: center;
    column-gap: 0%;
    row-gap: 30%;
    top: 20%;


    width: 80%;
    left: 10%;

    
}

.skill_class {
}

.skill_header {
    font-family: 'DM Serif Display', serif;

    font-size: 25px;
    margin-bottom: 3%;

}

.skill_type {
    list-style: none;
}

.skill {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 5px;
    font-size: 18px;

}


/* #skills #skills_text {
    position: absolute;
    z-index: 10;
    right: 4%;
    width: 50%;
    top: 20%;

    font-family: 'Bodoni Moda', serif;
    font-size: 220px;
    opacity: 0;
    transform: translateX(40%);
    transition: opacity 0.5s ease, transform 0.5s ease;
} 
  
#skills #skills_text.animate {
    opacity: 0.1;
    transform: translateX(0);
}
 */
