#skills {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;    
    /* overflow-x: hidden; */
    /* border: 10px solid red; */
}

#skills_title {
    height: 20vh;
    overflow: hidden;
    text-align: left;    
}

#skills_word {
    font-family: 'DM Serif Display', serif;
    font-size: 130px;
    position: relative;
    opacity: 1;
    bottom: 10%;
}
  


#skills_section {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-template-rows: auto auto; /* Two rows with automatic height */
    justify-items: center;
    column-gap: 0%;
    /* row-gap: 5%; */
    /* top: 20%; */
    height: 75vh;

    width: 80%;
    left: 10%;

    
}

.skill_header {
    font-family: 'DM Serif Display', serif;
    font-size: 27px;
    margin-bottom: 8%;

}

.skill_type {
    list-style: none;
}

.skill {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 5px;
    font-size: 18px;

}

