#home {
    /* background-color: #000; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    /* overflow: hidden; */
    /* transition: background-color 0.8s ease; */
    height: 100vh;
}

#home.bg-white {
    color: #000;
}


#home #name {
    /* position: absolute; */
    font-size: 115px;
    /* top: 25%; */
    /* font-family: 'Gruppo', sans-serif; */
    /* font-family: 'Monoton', cursive; */
    font-family: 'Bodoni Moda', serif;

}

#home #description {
    font-family: 'DM Serif Display', serif;
    /* position: absolute;
    top: 40%; */
    font-size: 30px;
}

