#home {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transition: background-color 1s ease; */
    min-height: 100vh;
}

#home.bg-white {
    background-color: white;
    color: #000;
    transition: background-color 0.5s ease-out;
}


#home #name {
    font-size: 115px;
    /* font-family: 'Gruppo', sans-serif; */
    /* font-family: 'Monoton', cursive; */
    font-family: 'Bodoni Moda', serif;

}

#home #description {
    font-family: 'DM Serif Display', serif;

    font-size: 30px;
}

